.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  min-width: 8rem;
  padding-block: 0.5rem;
  font-size: 1.25rem;
  background-color: #252728;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.buttons button:hover {
  outline: 1px solid rgb(42, 0, 229);
  filter: drop-shadow(0 0 0.5rem rgb(42, 0, 229));
}

.buttons .reset:hover {
  outline: 1px solid rgb(229, 0, 0);
  filter: drop-shadow(0 0 0.5rem rgb(229, 0, 0));
}

.buttons button:active {
  outline: 1px solid rgb(42, 0, 229);
  filter: drop-shadow(0 0 2rem rgb(42, 0, 229));
}

.buttons .reset:active {
  outline: 1px solid rgb(229, 0, 0);
  filter: drop-shadow(0 0 2rem rgb(229, 0, 0));
}
